.contact-section {
    text-align: center;
    padding: 40px 20px;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.purple {
    color: var(--highlight-color);
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}

.social-icons a {
  color: var(--highlight-color);
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: var(--text-color);
}